---
import { Picture } from "astro:assets";

import akima from "../assets/akima.jpg";
import boo from "../assets/boo.jpg";
import buddy from "../assets/buddy.jpg";
import captainjack from "../assets/captain-jack.jpg";
import checkers from "../assets/checkers.jpg";
import chucky from "../assets/chucky.jpg";
import frankthetank from "../assets/frank-the-tank.jpg";
import gerald from "../assets/gerald.jpg";
import roket from "../assets/roket.jpg";
import royal from "../assets/royal.jpg";
import scarlett from "../assets/scarlett.jpg";
import stixthecat from "../assets/stixthecat.jpg";
import sunny from "../assets/sunny.jpg";
import tiger from "../assets/tiger.jpg";
import thunder from "../assets/thunder.jpg";
import turtle from "../assets/turtle.jpg";
import nophoto from "../assets/nophoto.jpg";

const { catsByDate } = Astro.props;

function formatDate(dateStr) {
	const dateObj = new Date(dateStr);

	const dayOfWeek = new Intl.DateTimeFormat("en-US", { weekday: "long" }).format(dateObj);
	const month = new Intl.DateTimeFormat("en-US", { month: "long" }).format(dateObj);
	const day = dateObj.getDate();
	const year = dateObj.getFullYear();

	return `${dayOfWeek} ${month} ${day}, ${year}`;
}
---

<div class="catlist">
	{
		catsByDate.map((group) => (
			<>
				<p class="center date">
					{group.cats.length >= 3 ? "🏆 " : ""}
					{formatDate(group.date)}
					{group.cats.length >= 3 ? " 🏆" : ""}
				</p>
				<div class="image-row">
					{group.cats.map((cat) => {
						let catImport = cat.replace(/\s+/g, "").toLowerCase();
						switch (catImport) {
							case "akima":
								catImport = akima;
								break;
							case "boo":
								catImport = boo;
								break;
							case "buddy":
								catImport = buddy;
								break;
							case "captainjack":
								catImport = captainjack;
								break;
							case "checkers":
								catImport = checkers;
								break;
							case "chucky":
								catImport = chucky;
								break;
							case "frankthetank":
								catImport = frankthetank;
								break;
							case "gerald":
								catImport = gerald;
								break;
							case "roket":
								catImport = roket;
								break;
							case "royal":
								catImport = royal;
								break;
							case "scarlett":
								catImport = scarlett;
								break;
							case "stixthecat":
								catImport = stixthecat;
								break;
							case "sunny":
								catImport = sunny;
								break;
							case "tiger":
								catImport = tiger;
								break;
							case "thunder":
								catImport = thunder;
								break;
							case "turtle":
								catImport = turtle;
								break;
							default:
								catImport = nophoto;
						}
						return (
							<figure>
								<Picture src={catImport} formats={["avif", "webp"]} alt={cat} />
								<figcaption>{cat}</figcaption>
							</figure>
						);
					})}
				</div>
			</>
		))
	}
</div>
